{% extends 'base.html.twig' %}

{% block body %}
    <div class="sidebar">
        {% include '/menu.html.twig' %}
    </div>
    <div class="content">
        <div class="d-flex justify-content-center">
            <span class="hp-title">Memory</span>
        </div>
        <div class="table-menu">
            <a href="{{ path('newGame') }}" class="button">Nouvelle partie</a>
        </div>
        <table id="TabPartie" class="table-template">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date de création</th>
                <th>Statut</th>
                <th class="text-align-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for partie in parties %}
                <tr>
                    <td>{{ partie.id }}</td>
                    <td>{{ partie.created|date("d/m/Y", "Europe/Paris") }}</td>
                    <td>
                        {% if partie.fini %}
                            Terminé
                        {% else %}
                            En cours
                        {% endif %}
                    </td>
                    <td class="text-align-right"><a href="{{ path('game', {id: partie.id}) }}" class="button" >Ouvrir</a>  <a href="{{ path('removeGame', {id: partie.id}) }}" class="button" >Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}