{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <h1 class="Harry">Inscription</h1>

    {{ form_start(registrationForm) }}
    <div>
        Username {{ form_widget(registrationForm.username) }}
    </div>
    <div>
        Password {{ form_widget(registrationForm.plainPassword) }}
    </div>
    <div>
        Accepter les conditions générales {{ form_widget(registrationForm.agreeTerms) }}
    </div>

    <button class="button mt-4">Inscription</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
